.slider-wrapper {
  position: relative;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}

/* Dots */
.slider-wrapper .slick-dots {
  bottom: 15px;
}

.slider-wrapper .slick-dots li button:before {
  font-size: 12px;
  color: #fff;
  opacity: 0.8;
}

.slider-wrapper .slick-dots li.slick-active button:before {
  color: var(--color-primary);
  opacity: 1;
}

/* Arrow */
.slider-wrapper .slick-prev,
.slider-wrapper .slick-next {
  z-index: -1;
  width: 40px;
  height: 40px;
}

.slider-wrapper .slick-prev:before,
.slider-wrapper .slick-next:before {
  font-size: 32px;
  color: #fff;
}

/* Image */
.slide-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 8px;
}
